/* Configuración basica de un archivo CSS */

/* 1.Tipografias */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* 2.Iconos */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

/* 3.Estilos generales */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat Underline", sans-serif;

}

p,
a,
button,
li,
label,
input,
select,
textarea,
span {
    font-family: "Raleway", sans-serif;

}

/* 4.Variaables */
:root {
    --primary-color: #e58411;
    --gray-color: #f7f7f7;
    --white-color: #fff;
    --dark-color: #1e1e1e;
    --fs-title1: 80px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;


}

/* 5.Desktop */
header {
    width: 100%;
    position: relative;
    height: 170vh;
    background: url(../img/Rectangle\ 1441.png);
    background-size: cover;
    /* background-position: center; */
    background-position-y: bottom;
    background-position-x: center;
    padding-top: 40px;
}

bg-transparente {
    background: transparent;
}

header nav .logo {
    color: var(--white-color);
    font-weight: 700;
    font-size: 28px;
    transition: .5s;

}

header nav .logo:hover {
    color: var(--white-color);
    transform: scale(1.2);
}

#navbarNav li a {
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent;

}

#navbarNav li a:hover {
    border-bottom: 1px solid var(--white-color);
}

header .bag-button {
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 26px;
    position: relative;
}

header .bag-button .counter-products {
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

#hero {
    width: 100%;
    text-align: center;
    padding: 90px;
}

#hero h2 {
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 700;
}

#hero p {
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 40px 350px;


}

#hero form {
    width: 400px;
    position: relative;
    margin: 0 auto;
}

#hero form input {

    border-radius: 40px;
    padding: 15px 60px 15px 20px;
    width: 370px;
    font-size: var(--fs-title4);
    border: 2px solid #fff;
    background: #ffffff4b;
    color: var(--white-color);
    outline: none;

}

#hero form input::placeholder {
    color: var(--white-color);
}

#hero form button {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    color: var(--white-color);
    position: absolute;
    right: 7%;
    top: 20%;
}

/* ESTILOS MAIN------------------------------------------------------------------------------ */
#choosing-us {
    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}

#choosing-us h2 {
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
}

#choosing-us h3 {
    font-size: var(--fs-title3);
    font-weight: 700;
    color: var(--dark-color);
}

#choosing-us p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
}

#choosing-us a {
    color: var(--primary-color);
    text-decoration: none;
}

#choosing-us a i {
    margin-left: 4px;
    transition: .5s;
}

#choosing-us a:hover i {
    margin-left: 15px;
}

#products {
    width: 100%;
    position: relative;
    background: var(--gray-color);
    text-align: center;
    padding: 50px 0;
}

#products h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 40px;

}

#products ul {
    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 8px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

#products li button {
    color: var(--dark-color);
    padding: 10px 30px;
    border: none;
}

#products li button:hover {
    border: none;
}

#products li button.avtive {
    background: var(--white-color);
    border-radius: 30px;
    border: none;

}

/* estilos del carrusel */
#products .card-product {

    margin: 0 15px;

}

#products .card-product .cont-img {
    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;
}

#products .cont-img img {
    width: 220px;
    position: absolute;
    height: 300px;
    top: -70px;
    margin: 0 auto;
    left: 0;
    right: 0;

}

#products .slick-list {
    padding: 160px 0;
}

#products .cont-info {
    background: var(--white-color);
    text-align: left;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

#products .cont-info p.category {
    font-size: var(--fs-text);
    color: #8d8d8d;
}

#products .cont-info h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-color);

}

#products .stars i {
    color: #f6b76f;
}

#products .stars {
    margin-bottom: 30px;

}

#products .card-product h4 {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    margin: 0;

}

#products .card-product h4 span {
    font-size: 15px;
    margin-right: 4px;


}

#products .card-product button {
    background: #0d1b39;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    color: var(--white-color);
    font-size: 24px;

}

#products .slick-arrow {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdadb;
}

#products .slick-arrow::before {
    color: #0d1b39;
}

/* Seccion experiences.......................................................................................... */

#experiences {
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#experiences .cont-img {
    position: relative;
    left: -20px;
}

#experiences .cont-img img {
    filter: drop-shadow(-10px 15px 10px #af7d43);
}

#experiences .cont-img::before {
    content: "";
    width: 400px;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: -60px;
    border-radius: 20px;

}

#experiences .cont-img::after {
    content: "";
    width: 400px;
    height: 300px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: 75px;
    border-radius: 20px;
    right: 90px;


}

#experiences .cont-info {
    padding: 20px 60px 0 0;
}

#experiences .cont-info h3 {
    color: var(--primary-color);
    font-size: var(--fs-title4);
    text-transform: uppercase;
}

#experiences .cont-info h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    width: 350px;
    
}

#experiences .cont-info p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
    width: 460px;
}
#experiences a {
    color: var(--primary-color);
    text-decoration: none;
}

#experiences a i {
    margin-left: 4px;
    transition: .5s;
}

#experiences a:hover i {
    margin-left: 15px;
}


/* seccion de materials */
#materials {
    width: 100%;
    position: relative;
    padding: 140px 0;
}
#materials .cont-info h3 {
    color: var(--primary-color);
    font-size: var(--fs-title4);
    font-size: 18px;
    margin-top: 150px;
    margin-left: 50px;
    letter-spacing: 3px;

}
#materials .cont-info h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    width: 350px;
    margin-left: 50px;
    
    
}
#materials .cont-info p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    margin-top: 20px;
    width: 460px;
    margin-left: 50px;
    
}
#materials a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 50px;

}

#materials a i {
    margin-left: 4px;
    transition: .5s;
}

#materials a:hover i {
    margin-left: 15px;
}
#materials .cont-img::before {
    content: "";
    width: 270px;
    height: 400px;
    background:#f7f7f7;
    position: absolute;
    z-index: -1;
    top: 80px;
    right: -491px;
    border-radius: 20px;

}
#materials .cont-img {
    position: relative;
    left: 15px;
}

#materials .cont-img2 img{
    right: 0;
    position: absolute;
    top: 280px;
    border-radius: 20px;
}
#materials .cont-img2 img {
    box-shadow: 0  16px 25px -10px #c49f72;
}




/* seccion de reviews */

#reviews {
    width: 100%;
    position: relative;
    padding: 90px 0;
    text-align: center;
}
#reviews  h3 {
    color: var(--primary-color);
    font-size: var(--fs-title4);
    font-size: 18px;
    

}
#reviews h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 60px;
    
    
}
#reviews .card-review{
    position: relative;
    left: 31px;
}
#reviews .card-review .cont-info{
    background: white;
    position: absolute;
    width: 73%;
    bottom: 20px;
    border-radius: 30px;
    left: 7%;
    padding-bottom: 15px;
    padding-top: 50px;
    padding-left:30px ;
    padding-right: 30px;

}
#reviews .card-review .cont-info img{
    position: absolute;
    top: -25px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 10px solid white;
    border-radius: 50%;

}
#reviews .card-review .cont-info h4{
    font-size: var(--fs-title4);
    color: var(--dark-color);
    margin-bottom: 10px;
    font-weight: 700;
}

#reviews .card-review .cont-info h5{
    font-size: 12px;
    color: var(--dark-color);
    color: #999;
    font-weight: 300;
    margin-bottom: 20px;

}
#reviews .card-review  .stars i {
    color: #f6b76f;
}
#reviews .card-review .stars i:nth-child(5){
    opacity: 0.5;
}
#reviews .slick-arrow {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    padding-top: 5px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdadb;
}

#reviews .slick-arrow::before {
    color: #0d1b39;
}

/* ESTILOS DEL FOOTER */
footer {
    width: 100%;
    position: relative;
    padding: 90px 0;
    background: #f7f7f7;
}

footer .logo {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer .col-footer a {
    text-decoration: none;
    color: var(--dark-color);
    display: block;
    margin-bottom: 10px;
}

footer h2 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    
}

footer a {
    text-decoration: none;
    color: var(--dark-color);
}

footer p {
    font-size: var(--fs-text);
    color: var(--dark-color);
    width: 310px;
}

footer i {
    margin-right: 10px;
}

footer .info {
    padding-top: 60px;
}

footer .info a {
    margin-right: 20px;
}
footer .row-footer{
    margin-top: 70px;
}










/* 6.ESTLOS RSPONSIVE - Tablet- */
@media screen and (min-width:768px) and (max-width:1080px){
    header .bag-button{
        display: none;
    }
    .navbar-toggler {
        background: white;
    }
    #hero {
        padding: 90px 40px;
    }

    header {
        height: 90vh;
    }

    #hero h2 {
        font-size: 70px;
    }

    #hero p {
        padding: 20px 200px;
    }

    #experiences .img img{
        width: 100%;
    }
}
/* Estilos de smarphone */
@media screen and (min-width:320px) and (max-width:767px){
    .navbar-toggler {
        background: white;
        font-size: 13px;
    }
    header {
        height: 50vh;
    }
    header .bag-button{
        display: none;
    }
    #hero {
        padding: 10px 100px;
    }
    #hero h2 {
        font-size: 18px;
    }
    #hero p {
        font-size: 9px;
        padding: 0 20px;
    }
    #hero form{
        width: 60px;
        margin: inherit;
    }
    #hero form input{
        width: 200px;
        font-size: 10px;
    }
    #hero form button{
        width: 30px;
        height: 30px;
        left: 260%;
        top: 18%;
    }
    .navbar>.container{
        padding: 0 30px;
    }
    #choosing-us {
        padding: 100px 0;
        text-align: center;
    }
    #choosing-us h2{
        font-size: 30px;
        padding-top: 0;
    }
    #choosing-us h3{
        padding-top: 20px;
    }
    #choosing-us p{
        text-align: justify;
        padding: 0 30px;
    }
    #products{
        padding: 30px 0 0 0;
    }
    #products ul{
        width: 350px;
        justify-content: center;
    }
    #products li button{
        padding: 10px 20px;
    }
    #experiences .img img {
        width: 100%;
    }
    #experiences .img::before{
        top: -9px;
    }
    #experiences .info {
        padding: 30px 30px;
        text-align: center;
    }
    #experiences .info p{
        text-align: justify;
    }
    #experiences .info h3{
        padding-top: 30px;
    }
    #experiences .info h2 {
        font-size: 30px;
    }
    #experiences{
        padding: 100px 0 0 0;
    }
    #experiences .img::after{
        bottom: 20px;
    }
    #materials{
        padding: 0;
    }
    #materials .datos{
        padding: 90px 30px;
        text-align: center;
    }
    #materials .datos h2{
        font-size: 28px;
    }
    #materials .datos p{
        margin-top: 10px;
        text-align: justify;
    }
    #materials .imagen::before{
        bottom: 60px;
    }
    #materials .imagen img{
        bottom: -80px;
        left: 26px;
    }
    #reviews{
        padding: 150px 0;
    }
    .slick-slide{
        padding: 0 25px;
    }
    #reviews .slick-arrow{
        width: 15px;
    }
    footer{
        padding: 0 20px;
        text-align: center;
    }
    footer .texto{
        text-align: justify;
    }
    footer .derechos{
        text-align: center;
    }

}